[submodule "apps/erato"]
	path = apps/erato
	url = https://github.com/vesta-cx/erato.git

[submodule "packages/ui"]
	path = packages/ui
	url = https://github.com/vesta-cx/ui.git

[submodule "packages/utils"]
	path = packages/utils
	url = https://github.com/vesta-cx/utils.git

[submodule "apps/euterpe"]
	path = apps/euterpe
	url = https://github.com/vesta-cx/euterpe.git

[submodule "tools/scripts"]
	path = tools/scripts
	url = https://github.com/vesta-cx/scripts.git
	
[submodule "apps/sona"]
	path = apps/sona
	url = https://github.com/vesta-cx/sona.git

[submodule "apps/docs"]
	path = apps/docs
	url = https://github.com/vesta-cx/docs.git

[submodule "apps/web"]
	path = apps/web
	url = https://github.com/vesta-cx/web.git

[submodule "packages/db"]
	path = packages/db
	url = https://github.com/vesta-cx/db.git

[submodule "packages/cleanup"]
	path = packages/cleanup
	url = https://github.com/vesta-cx/cleanup.git

[submodule "packages/drizzle-query-factory"]
	path = packages/drizzle-query-factory
	url = https://github.com/mia-cx/drizzle-query-factory.git