[submodule "apps/erato"]
	path = apps/erato
	url = https://github.com/vesta-cx/erato.git

[submodule "packages/ui"]
	path = packages/ui
	url = https://github.com/vesta-cx/ui.git

[submodule "packages/utils"]
	path = packages/utils
	url = https://github.com/vesta-cx/utils.git

[submodule "apps/sona"]
	path = apps/sona
	url = https://github.com/vesta-cx/sona.git

[submodule "apps/euterpe"]
	path = apps/euterpe
	url = https://github.com/vesta-cx/euterpe.git

[submodule "tools/scripts"]
	path = tools/scripts
	url = https://github.com/vesta-cx/scripts.git